In [1]:

import yfinance as yahooFinance
 
# Here We are getting Facebook financial information
# We need to pass FB as argument for that
GetFacebookInformation = yahooFinance.Ticker("META")
 
# whole python dictionary is printed here
print(GetFacebookInformation.info)

{'address1': '1601 Willow Road', 'city': 'Menlo Park', 'state': 'CA', 'zip': '94025', 'country': 'United States', 'phone': '650 543 4800', 'website': 'https://investor.fb.com', 'industry': 'Internet Content & Information', 'industryKey': 'internet-content-information', 'industryDisp': 'Internet Content & Information', 'sector': 'Communication Services', 'sectorKey': 'communication-services', 'sectorDisp': 'Communication Services', 'longBusinessSummary': 'Meta Platforms, Inc. engages in the development of products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, and wearables worldwide. It operates in two segments, Family of Apps and Reality Labs. The Family of Apps segment offers Facebook, which enables people to share, discuss, discover, and connect with interests; Instagram, a community for sharing photos, videos, and private messages, as well as feed, stories, reels, video, live, and shops; Messenger, a messaging application for people to connect with friends, family, communities, and businesses across platforms and devices through text, audio, and video calls; and WhatsApp, a messaging application that is used by people and businesses to communicate and transact privately. The Reality Labs segment provides augmented and virtual reality related products comprising consumer hardware, software, and content that help people feel connected, anytime, and anywhere. The company was formerly known as Facebook, Inc. and changed its name to Meta Platforms, Inc. in October 2021. Meta Platforms, Inc. was incorporated in 2004 and is headquartered in Menlo Park, California.', 'fullTimeEmployees': 66185, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Mark Elliot Zuckerberg', 'age': 39, 'title': 'Founder, Chairman & CEO', 'yearBorn': 1984, 'fiscalYear': 2022, 'totalPay': 27110418, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Javier  Olivan', 'age': 46, 'title': 'Chief Operating Officer', 'yearBorn': 1977, 'fiscalYear': 2022, 'totalPay': 4138577, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Andrew  Bosworth', 'age': 41, 'title': 'Chief Technology Officer', 'yearBorn': 1982, 'fiscalYear': 2022, 'totalPay': 1978302, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Christopher K. Cox', 'age': 40, 'title': 'Chief Product Officer', 'yearBorn': 1983, 'fiscalYear': 2022, 'totalPay': 4080853, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. David M. Wehner', 'age': 54, 'title': 'Chief Strategy Officer', 'yearBorn': 1969, 'fiscalYear': 2022, 'totalPay': 1798399, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Aaron A. Anderson', 'title': 'Chief Accounting Officer', 'fiscalYear': 2022, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Atish  Banerjea', 'age': 57, 'title': 'Chief Information Officer', 'yearBorn': 1966, 'fiscalYear': 2022, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Deborah T. Crawford', 'title': 'Vice President of Investor Relations', 'fiscalYear': 2022, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Jennifer G. Newstead', 'age': 53, 'title': 'Chief Legal Officer', 'yearBorn': 1970, 'fiscalYear': 2022, 'totalPay': 3079624, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Henry T. A. Moniz', 'age': 58, 'title': 'Chief Compliance Officer', 'yearBorn': 1965, 'fiscalYear': 2022, 'exercisedValue': 0, 'unexercisedValue': 0}], 'auditRisk': 8, 'boardRisk': 10, 'compensationRisk': 10, 'shareHolderRightsRisk': 10, 'overallRisk': 10, 'governanceEpochDate': 1704067200, 'compensationAsOfEpochDate': 1672444800, 'maxAge': 86400, 'priceHint': 2, 'previousClose': 357.43, 'open': 360.17, 'dayLow': 359.08, 'dayHigh': 372.9399, 'regularMarketPreviousClose': 357.43, 'regularMarketOpen': 360.17, 'regularMarketDayLow': 359.08, 'regularMarketDayHigh': 372.9399, 'beta': 1.221, 'trailingPE': 32.66931, 'forwardPE': 23.168856, 'volume': 21971925, 'regularMarketVolume': 21971925, 'averageVolume': 18199254, 'averageVolume10days': 14994920, 'averageDailyVolume10Day': 14994920, 'bidSize': 2900, 'askSize': 1100, 'marketCap': 952056086528, 'fiftyTwoWeekLow': 131.76, 'fiftyTwoWeekHigh': 372.94, 'priceToSalesTrailing12Months': 7.4991026, 'fiftyDayAverage': 335.1488, 'twoHundredDayAverage': 291.51154, 'currency': 'USD', 'enterpriseValue': 927810060288, 'profitMargins': 0.23421, 'floatShares': 2202937731, 'sharesOutstanding': 2219610112, 'sharesShort': 27451923, 'sharesShortPriorMonth': 28464281, 'sharesShortPreviousMonthDate': 1701302400, 'dateShortInterest': 1703808000, 'sharesPercentSharesOut': 0.0107, 'heldPercentInsiders': 0.0017499999, 'heldPercentInstitutions': 0.78179, 'shortRatio': 1.62, 'shortPercentOfFloat': 0.0124, 'impliedSharesOutstanding': 2569860096, 'bookValue': 55.571, 'priceToBook': 6.666607, 'lastFiscalYearEnd': 1672444800, 'nextFiscalYearEnd': 1703980800, 'mostRecentQuarter': 1696032000, 'earningsQuarterlyGrowth': 1.635, 'netIncomeToCommon': 29734000640, 'trailingEps': 11.34, 'forwardEps': 15.99, 'pegRatio': 0.92, 'enterpriseToRevenue': 7.308, 'enterpriseToEbitda': 17.162, '52WeekChange': 1.7098968, 'SandP52WeekChange': 0.20091534, 'exchange': 'NMS', 'quoteType': 'EQUITY', 'symbol': 'META', 'underlyingSymbol': 'META', 'shortName': 'Meta Platforms, Inc.', 'longName': 'Meta Platforms, Inc.', 'firstTradeDateEpochUtc': 1337347800, 'timeZoneFullName': 'America/New_York', 'timeZoneShortName': 'EST', 'uuid': 'e59f1c4f-b1aa-3d70-a8c3-eb59ff3e461b', 'messageBoardId': 'finmb_20765463', 'gmtOffSetMilliseconds': -18000000, 'currentPrice': 370.47, 'targetHighPrice': 429.16, 'targetLowPrice': 159.79, 'targetMeanPrice': 348.03, 'targetMedianPrice': 351.54, 'recommendationMean': 1.8, 'recommendationKey': 'buy', 'numberOfAnalystOpinions': 52, 'totalCash': 61122998272, 'totalCashPerShare': 23.785, 'ebitda': 54061998080, 'totalDebt': 36876001280, 'quickRatio': 2.426, 'currentRatio': 2.567, 'totalRevenue': 126956003328, 'debtToEquity': 25.81, 'revenuePerShare': 48.97, 'returnOnAssets': 0.13817, 'returnOnEquity': 0.22275, 'grossProfits': 92855000000, 'freeCashflow': 29440124928, 'operatingCashflow': 66219999232, 'earningsGrowth': 1.679, 'revenueGrowth': 0.232, 'grossMargins': 0.80114996, 'ebitdaMargins': 0.42583, 'operatingMargins': 0.41375, 'financialCurrency': 'USD', 'trailingPegRatio': 0.8453}

In [30]:
import yfinance as yahooFinance

GetFacebookInformation = yahooFinance.Ticker("AAPL")

# Let us get historical stock prices for Facebook 
# covering the past few years.
# max->maximum number of daily prices available 
# for Facebook.
# Valid options are 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 
# 5y, 10y and ytd.
data = yahooFinance.download("AAPL", start='2018-01-02', end='2023-12-30')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.722881,102223600
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.715790,118071600
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.904911,89738400
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.370613,94640000
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.216965,82271200
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [17]:
import pandas as pd
import datetime
from datetime import datetime
from pandas_datareader import data
from functools import reduce
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [18]:
today = f"{datetime.now().year}-{datetime.now().month}-{datetime.now().day}"
year_ago = f"{datetime.now().year-1}-{datetime.now().month-2}-{datetime.now().day}" # get three years period of time

In [20]:
type(today)

str

In [19]:
x = int(datetime.strptime(today, '%Y-%m-%d').strftime("%s"))

ValueError: Invalid format string